#bodyDiv {
  position: relative;
  height: 100%;
  width: 100% importent;
  background: #003434;
}

#headerImg {
  height: 600px;
  width: 100%;
}

#HeaderGrid {
  height: 100%;
  width: 100%;
  margin: 0;
}

#detailGrid {
  height: 100%;
  width: 100%;
  margin: 0;
}

#headerInfo {
  width: 100%;
  min-height: 170px;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #00e7e7;
}

#detailColumn {
  background: teal;
}

#maindetail {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
}

#visningdetail {
  align-content: center;
}

#visningColumn {
  background: #ffffff;
}

#mapid {
  height: 300px;
}

#secoundRow {
  background: #088ea0;
}

#firstColumn {
  width: 100%;
}

#infoomeiendomText {
  color: #00e7e7;
}

#fullInfoText {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  margin-top: 20px;
  color: #ffffff;
}

#showdetails {
  background: 06c2db;
}