.ui.menu:first-child {
    margin:0;
}

.section-response{
    display: flex;
    min-height: calc(60vh - 58px);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    color: #fff;
    min-height: 400px;
}
